.auto-complete-container-alt {
    display: flex;
}

.active-index-alt {
    border: solid 2px #52a4b3;
    border-radius: 5px;
}

.selected-index-alt {
    background: #52a4b3 !important;
}

.input-box-container-alt {
    width: 50%;
}

.input-box-alt {
    margin: 35% 30px 10px 30px;
    width: 60%;
    height: 40px;
    font-size: 26px;
}

.results-container-alt {
    margin-top: 15%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.results-alt {
    background: #fff;
    border-radius: 5px;
    margin: 15px 0;
    padding: 10px;
}

.item-name-alt {
    margin: 10px 10px 10px 0;
    font-size: 20px;
}

.item-tag-alt {
    margin: 10px;
    color: gray;
    font-size: 14px;
}